@use '../../scss/variables';
@use '../../scss/animations';
@use '../../scss/mixins';
@use '../../scss/typography';
@use '../../scss/global';

.register {
  margin-top: 80px;
  min-height: calc(100vh - 244px);
  padding-top: 69px;
  padding-bottom: 69px;
}
