@use '../../scss/global';
@use '../../scss/mixins';
@use '../../scss/typography';
@use '../../scss/variables' as v;
@use '../../scss/animations';

.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;
  .navbar {
    background-color: v.$color-first !important;
    &_container {
      .nav {
        display: flex;
        align-items: center;
        justify-content: center;
        &_link {
          font-family: 'Inter', 'Sen', sans-serif;
          color: #fff;
          padding: 6px 12px !important;
          transition: 0.5s;
          &_button {
            background-color: #fff;
            color: v.$color-first;
            font-weight: 700;
            font-size: 18px;
            line-height: 24px;
            padding: 16px 48px;
            border-radius: 0;
            margin-left: 28px;
            margin-right: 28px;
            transition: 0.5s !important;
            border: none !important;
            outline: none !important;
            &:hover,
            &:active {
              background-color: #ddd !important;
              color: v.$color-first;
              border: none !important;
            }
          }
          &:hover {
            color: #ddd;
          }
        }
      }
    }
  }
}
