@use '../../scss/global';
@use '../../scss/mixins';
@use '../../scss/typography';
@use '../../scss/variables' as v;
@use '../../scss/animations';

.footer {
  background-color: v.$color-first;
  padding: 24px 0;
  &_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .footer_text {
      font-family: 'Roboto', sans-serif;
      color: #fff;
      opacity: 0.7;
    }
    .footer_icons {
      a {
        margin-left: 27px;
        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
}
